{{- if eq .Values.techStack "frontend" }}
{{- if or .Values.frontend.nginx .Values.frontend.additionalAssets }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
data:
  {{- if and .Values.frontend.nginx (index .Values.frontend.nginx "default.conf") }}
  default.conf:
  {{- toYaml (index .Values.frontend.nginx "default.conf") | nindent 4 }}
  {{- end }}
  {{ include "interop-eks-microservice-chart.generateFrontendConfigmapData" (dict "context" $) | nindent 2 }}
  {{- if .Values.configmap -}}
    {{- range $key, $val := .Values.configmap }}
    {{ $key }}: {{ include "interop-eks-microservice-chart.render-template" (dict "value" $val "context" $) | quote }}
    {{- end }}
  {{- end }}
{{- end }}
{{- else if .Values.configmap -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
data:
  {{- range $key, $val := .Values.configmap }}
  {{ $key }}: {{ include "interop-eks-microservice-chart.render-template" (dict "value" $val "context" $) | quote }}
  {{- end }}
{{- end }}
