{{- if eq .Values.techStack "frontend" }}

{{ $root := . }}

{{- $digestSuffix := "" }}
{{- if .Values.image.digest }}
{{- $digestSuffix = (nospace (cat "@" .Values.image.digest)) }}
{{- end }}

{{- $imageTag := "" }}
{{- if .Values.image.tag }}
{{- $imageTag = (nospace (cat ":" .Values.image.tag)) }}
{{- end }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "interop-eks-microservice-chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "interop-eks-microservice-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "interop-eks-microservice-chart.labels" . | nindent 8 }}
      annotations:
        digest: {{ .Values.image.digest | quote }} # Used to force deployment on same image version but different content
    spec:
      containers:
        - name: {{ .Values.name }}
          image: "{{ .Values.image.repositoryPrefix }}/{{ .Values.image.repositoryName | default .Values.name }}{{ $imageTag }}{{ $digestSuffix }}"
          imagePullPolicy: {{ .Values.image.imagePullPolicy }}
          {{- if and .Values.deployment .Values.deployment.command }}
          command: {{ .Values.deployment.command }}
          {{- end }}
          {{- if and .Values.deployment .Values.deployment.args }}
          args: {{ .Values.deployment.args }}
          {{- end }}
          ports:
            {{- if and .Values.service .Values.service.containerPort }}
            - name: {{ .Values.service.portName | default "http" }}
              containerPort: {{ .Values.service.containerPort }}
              protocol: {{ .Values.service.containerProtocol | default "TCP" }}
            {{- end }}
            {{- if and .Values.service .Values.service.additionalPorts }}
            {{- range $key, $val := .Values.service.additionalPorts }}
            - name: {{ $val.name }}
              containerPort: {{ $val.containerPort }}
              protocol: {{ $val.protocol }}
            {{- end }}
            {{- end }}
          {{- if or .Values.configmap (and .Values.deployment ( or .Values.deployment.envFieldRef .Values.deployment.env .Values.deployment.envFromConfigmaps .Values.deployment.envFromSecrets)) }}
          env:
            {{- if .Values.configmap }}
            {{- range $key, $val := .Values.configmap }}
            - name: {{ $key }}
              valueFrom:
                configMapKeyRef:
                  name: {{ $root.Values.name | quote }}
                  key: {{ $key }}
            {{- end }}
            {{- end }}
            {{- if and .Values.deployment .Values.deployment.envFieldRef }}
            {{- range $key, $val := .Values.deployment.envFieldRef }}
            - name: {{ $key }}
              valueFrom:
                fieldRef:
                  fieldPath: {{ $val }}
            {{- end }}
            {{- end }}
            {{- if and .Values.deployment .Values.deployment.env }}
            {{- range $key, $val := .Values.deployment.env }}
            - name: "{{ $key }}"
              value: "{{ $val }}"
            {{- end }}
            {{- end }}
            {{- if and .Values.deployment .Values.deployment.envFromConfigmaps }}
            {{- range $key, $val := .Values.deployment.envFromConfigmaps -}}
            {{ $configmapAddress := mustRegexSplit "\\." $val 2 }}
            - name: {{ $key }}
              valueFrom:
                configMapKeyRef:
                  name: {{ index $configmapAddress 0 }}
                  key: {{ index $configmapAddress 1 }}
            {{- end }}
            {{- end }}
            {{- if and .Values.deployment .Values.deployment.envFromSecrets }}
            {{- range $key, $val := .Values.deployment.envFromSecrets -}}
            {{ $secretAddress := mustRegexSplit "\\." $val 2 }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ index $secretAddress 0 }}
                  key: {{ index $secretAddress 1 }}
            {{- end }}
            {{- end }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            {{- if and .Values.frontend .Values.frontend.nginx }}
            - name: default-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
              readOnly: true
            {{- end }}
            {{- if and .Values.frontend .Values.frontend.additionalAssets }}
            {{- range  $key, $val  := .Values.frontend.additionalAssets }}
            - name: {{ regexReplaceAll "\\." $key "-" }}
              mountPath: /usr/share/nginx/html/ui/{{ $key }}
              subPath: {{ $key }}
              readOnly: true
            {{- end }}
            {{- end }}
      volumes:
        {{- if and .Values.frontend .Values.frontend.nginx }}
        - name: default-conf
          configMap:
            defaultMode: 420
            name: {{ $root.Values.name }}
            items:
              - key: default.conf
                path: default.conf
        {{- end }}
        {{- if and .Values.frontend .Values.frontend.additionalAssets }}
        {{- range  $key, $val  := .Values.frontend.additionalAssets }}
        - name: {{ regexReplaceAll "\\." $key "-" }}
          configMap:
            defaultMode: 420
            name: {{ $root.Values.name }}
            items:
              - key: {{ $key }}
                path: {{ $key }}
        {{- end }}
        {{- end }}
{{- end }}
