name: Release Chart

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - 'CODEOWNERS'
      - '**.md'

jobs:
  bump:
    name: Bump chart version
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
        with:
          fetch-depth: 0
          token: ${{ secrets.BOT_TOKEN }}

        # issue: https://github.com/helm/chart-releaser-action/issues/113
      - name: Force tags download
        run: |
          git pull --tags

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Setup Helm
        run: |
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
          chmod 700 get_helm.sh
          ./get_helm.sh

      - name: Semantic release
        uses: cycjimmy/semantic-release-action@v3
        id: semantic
        with:
          dry_run: true
          semantic_version: 19.0.5
          extra_plugins: |
            @semantic-release/release-notes-generator@10.0.3
            @semantic-release/git@10.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Bump chart version
        if: steps.semantic.outputs.new_release_published == 'true'
        run: |
          echo "Bumping chart version ${{ steps.semantic.outputs.new_release_version }}"
          yq -i ".version = \"${{ steps.semantic.outputs.new_release_version }}\"" "charts/interop-eks-microservice-chart/Chart.yaml"
          git add "charts/interop-eks-microservice-chart/Chart.yaml"

          git commit -m "Bump chart version ${{ steps.semantic.outputs.new_release_version }}"
          git push -u origin ${{ github.ref_name }}

      - name: Run chart-releaser
        if: steps.semantic.outputs.new_release_published == 'true'
        uses: helm/chart-releaser-action@a3454e46a6f5ac4811069a381e646961dda2e1bf # v1.4.0
        env:
          CR_TOKEN: "${{ secrets.BOT_TOKEN }}"
